fastapi
uvicorn
jinja2
numpy
scipy
aiohttp
pydantic
fcwt
matplotlib
# If you use Plotly on the backend (not required for frontend-only use)
# plotly
# If you use finnhub API
# ...add any other backend dependencies you use...
gunicorn